# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [3]:
# CODE HERE:
name=input("my name is ")

my name is gnaneshwari

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [4]:
# WRITE HERE
Variable is a container that stores the data.
RULES OF VARIABLES:
 1:variable should start with_or with alphabets both capital letters and small letters
 2:variable should not start with any special symbols and numbers
 3:variable should combine both alphabets and numerics 
 4.variable should not have any special symbols
 5.case sensitive language can be used in variables

In [7]:
# Code Here
x="abcdegfh"
print(x)
x1="bhupathi gnaneshwari"
print(x1)

abcdegfh
bhupathi gnaneshwari

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [3]:
# CODE HERE
17/2

8.5

In [5]:
17/2.0

8.5

In [6]:
12.0/3

4.0

In [7]:
1+2*5

11

In [11]:
'.'*5

'.....'

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [8]:
#CODE HERE
var1=25
var2=56
var1+var2

81

In [9]:
var3=150
var4=150
var3+var4

300

> `Question:` Add your first name and second name

In [11]:
# CODE HERE
name=input("my first name is :")
secondname=input("my second name is :")
myfullname=input("my full name is : ")

my first name is :gnaneshwari
my second name is :bhupathi
my full name is : gnaneshwaribhupathi

My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [14]:
# CODE HERE
x=10
type(x)

int

In [35]:
x='10'
type(x)

str

In [40]:
x=True
type(x)

bool

In [41]:
x=10.5
type(x)

float

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [51]:
# CODE HERE:
num_int=123
int(num_int)

123

In [52]:
num_str="456"
int(num_str)

456

In [53]:
int(num_int)+int(num_str)

579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [5]:
# CODE HERE

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [ ]:
# CODE HERE

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)